*{text-emphasis-color: 0;}
.MuiToolbar-root{align-content: space-between;
    flex-flow: row nowrap;
    justify-content: space-between;
}
a.neutral{text-decoration: none; color:inherit;}
/* Header */
.topo{margin-bottom:  20px;}
.topo, .topo > *{background-color: #f1f1f1 !important;}
nav{float: right !important; display: block; position: relative;}
nav a{
    margin: 8px 12px;
    text-decoration: none;
    position: relative;
}
nav a.active,
nav a.active path{color:lightgrey !important}
nav *{    color: #000 !important;}
nav h6 {
    position: absolute;
    top: -10px;
    right: 0;
    background-color: #fff;
    border-radius: 25%;
    font-size: 0.6rem !important;
    padding: 5px;
    text-align: center;
    min-width: 1.2rem;
    height: 1rem;
    line-height: 0.4rem !important;
    opacity: 0.8;
}
nav h5{
    position: absolute;
    bottom: -10px;
    left: 0;
    font-size: 0.6rem !important;
    padding: 8px 0;
    text-align: left;
    height: 1rem;
    line-height: 0.4rem !important;
    opacity: 0.8;
    width: 100%;
}

/* Produtos */
.inativo,
.outOfStock,
.disabled .priceBlock,
.disabled .ativo{display: none;}

.disabled .outOfStock{display: block;}

.disabled .inativo:hover,
.disabled .inativo{position: relative !important; opacity: 1;z-index: 1;background-color: lightgray; display: inherit;box-shadow: none;}

.outOfStock span,
.outOfStock > p.MuiTypography-root.MuiTypography-button.MuiTypography-colorTextSecondary{opacity:0}
.disable button{pointer-events: none;}

.inativo{position: absolute !important; opacity: 0;z-index: -1;}

/*  cart */
.cart .MuiCardMedia-img{width: 100%;
    padding: 0 !important;
    margin: 0 0 8% 0;}
.cart .conteudo > * {
    display: block;
    width: 100%;
}
.cart .conteudo.coluna1{float:left; width:33%; padding: 2% 0% 2% 2%}
.cart .conteudo.coluna1 *{text-align: center;}
.cart .conteudo.coluna2{float: right; width: 67%; padding: 2% 2% 2% 1%}
.cart .coluna1 .MuiSvgIcon-root {color: #1976d2;
background-color: transparent;
border-radius: 3px;
font-size: 20px;}
.cart .coluna1 .remove .MuiSvgIcon-root{color: red}
.add-remove{line-height: 0rem;}